body {
  background-color: #f2f2f2;
}

:root {
	--right-tab-width: 330px;
}

.site-container {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 100%;
}

.right-tab {
	background-color: #a2a2f2;
	height: 100%;
	width: var(--right-tab-width);
}

.left-tab {
	height: 100%;
	width: calc(100% - var(--right-tab-width));
}

.widget-container {
	height: 100%;
	width: 100%;
	overflow: auto;
}

.widget-block {
	margin: 10px 50px;
	height: 20%;
	border-radius: 20% 20%;
}

.weather-widget {
	background-color: aquamarine;
	border: 5px solid aqua;

}