body {
  background-color: #f2f2f2;
}

:root {
	--right-tab-width: 380px;
	--widget-margins-top-bottom: 20px;
	--widget-margins-right-left: 36px;
}

.site-container {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 100%;
	overflow: auto;
}

#right-tab {
	height: 100%;
	width: var(--right-tab-width);
	background-image: url("images/cloudsbg.png");
	background-color: #a2a2f2;
}

.tab-padding {
	padding: 20px 18px;
}

#left-tab {
	height: 100%;
	width: calc(100% - var(--right-tab-width));
}

.widget-container {
	overflow-y: auto;
}


.widget-size {
	width: 300px; /*dimensions of openweather api's widget nr.5*/
	height: 232px;
	overflow: hidden;
}

.widget-margins {
	margin: var(--widget-margins-top-bottom) var(--widget-margins-right-left);
}

.spinner-coontainer {
	position: absolute;
	top: 0px;
	z-index: -1;
}

#add-widget-container { /*to make <add-country-widget> same dimensions as <weather-widget>*/
	width: 300px; /*dimensions of openweather api's widget nr.5*/
	height: 232px;
	/*background-color: ivory;*/ /*replaced with bg-light bg-gradient*/
	border: 2px solid lightskyblue;
	display: block;
}

.form-label {
	font-weight: bold;
	color: darkslateblue;
}

#div_id_country > .form-label, #div_id_city_id > .form-label {
	font-weight: bold;
	color: ivory !important;
}

#auth-form-container {
	--bs-bg-opacity: .7;
	border-radius: 45px;
	margin-top: 80px;
	margin-bottom: 80px;
	padding: 30px;
	width: 70%;
	background-color: bisque;
	border: 3px solid slategray;
}

.widget-highlight:hover {
	position: absolute;
	--bs-bg-opacity: .1;
	background-color:aliceblue;
	z-index: 256;
	margin: calc(- var(--widget-margins-top-bottom)) calc(- var(--widget-margins-right-left));
}

.pos-rel {
	position: relative;
}