{% extends 'base.html' %} <!-- base imports Bootstrap and links stylesheets -->
{% block title %}Strona Główna{% endblock %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<!-- Import Vue.js -->
<script src="https://unpkg.com/vue@3.0.11/dist/vue.global.js"></script>

<div id="app" class="w-100 h-100 d-flex flex-row justify-content-between">
	<div id="left-tab" class="d-flex widget-container">
		<div class="d-flex flex-wrap justify-content-center">
			{% for city in cities %}
			<weather-widget :city-id="{{city}}" @selected="showGraph"></weather-widget>
			{% endfor %}
			<add-city-widget @open-add-city-form="newCityForm"></add-city-widget>
		</div>
	</div>

	<div id="right-tab" class="fixed-right">

		<add-city-form v-slot="vm">
			<!-- component inline to inject django form -->
			<form method="post">
				{% csrf_token %}
				<div @mouseover="vm.updateCitySelectorLogic" @click="vm.updateCitySelectorLogic">
					{{form|crispy}}
				</div>
				<button id="submit-add-city-form" type="submit" class="btn btn-success">Dodaj</button>
			</form>
		</add-city-form>

	</div>
</div>



<!-- Import App -->
<script src="{% static '/scripts/tscBuilt/vueComponents/main.js' %}"></script>

<!-- Import Components -->
<script src="{% static '/scripts/tscBuilt/vueComponents/WeatherWidget.js' %}"></script>
<script src="{% static '/scripts/tscBuilt/vueComponents/WeatherDetailsGraph.js' %}"></script>
<script src="{% static '/scripts/tscBuilt/vueComponents/AddCityWidget.js' %}"></script>
<script src="{% static '/scripts/tscBuilt/vueComponents/AddCityForm.js' %}"></script>


<!-- Mount App -->
<script>
	const mountedApp = app.mount('#app')
</script>


<script>
	cityData = [];
	async function load() {
		cityData = {{allcities|safe}};
		console.log(window.cityData);
	}
	load();
</script>



{% endblock %}