{% extends 'base.html' %} <!-- base imports Bootstrap and links stylesheets -->
{% block title %}Strona Główna{% endblock %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<!-- Import Vue.js -->
<script src="https://unpkg.com/vue@3.0.11/dist/vue.global.js"></script>

<div id="app" class="w-100 h-100 d-flex flex-row justify-content-between">
	<div class="left-tab d-flex widget-container">
		<div class="d-flex flex-wrap justify-content-center">
			{% for city in cities %}
			<weather-widget :city-id="{{city}}" @selected="showGraph"></weather-widget>
			{% endfor %}
			<add-country-widget @add-city="newCityForm"></add-country-widget>
		</div>
	</div>

	<div class="right-tab fixed-right">
		<form method="post">
			{% csrf_token %}
			{{form|crispy}}
			<button type="submit" class="btn btn-success">Dodaj</button>
		</form>
	</div>
</div>



<!-- Import App -->
<script src="{% static '/scripts/tscBuilt/vueComponents/main.js' %}"></script>

<!-- Import Components -->
<script src="{% static '/scripts/tscBuilt/vueComponents/WeatherWidget.js' %}"></script>
<script src="{% static '/scripts/tscBuilt/vueComponents/WeatherDetailsGraph.js' %}"></script>
<script src="{% static '/scripts/tscBuilt/vueComponents/AddCountryWidget.js' %}"></script>
<script src="{% static '/scripts/tscBuilt/vueComponents/AddCountryForm.js' %}"></script>


<!-- Mount App -->
<script>
	const mountedApp = app.mount('#app')
</script>

<p>{{allcities|safe}}</p>

<script>
	var tt = [];
	async function load() {
		tt = {{allcities|safe}};
		console.log(tt);
	};
	load()
</script>



{% endblock %}